<style type="text/css">
    .error-ipt {
        border-color: #f00 !important;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  form-group">
    <label class="submit-app-section"><span class="col-md-1 col-sm-1 col-xs-1 submit-app-section-header">{{languages.APPLICANT_FORM.APPLICANT_SECTION_TITLE}}</span></label>
</div>

<!--Customer Name-->
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
    <label>{{languages.APPLICANT_FORM.NAME_APPLICANT_FIELD}}<span> (<span class="mandatorysign">*</span>)</span></label>
    <input type="text" class="form-control" data-validation="required" name="customer-name" ng-model="applicant.Name" data-validation-error-msg="{{languages.APPLICANT_FORM.NAME_AT_LEAST_ERROR_MSG}}">
</div>

<!--Customer Email-->
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
    <label>{{languages.APPLICANT_FORM.EMAIL_APPLICANT_FIELD}} (<span class="mandatorysign">*</span>)</label>
    <input type="text" class="form-control ipt-app-email" ng-model="applicant.Email"
           data-validation="email" data-validation-error-msg="{{languages.APPLICANT_FORM.EMAIL_INVALID_ERROR_MSG}}" style="border-color: red;" />    
</div>

<!--Home Phone-->
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
    <label>
        {{languages.APPLICANT_FORM.PHONE_APPLICANT_FIELD}}
        <em>({{languages.APPLICANT_FORM.LANDLINE_ONLY}})</em>
    </label>
    <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' name="HomePhone" data-mask ng-model="applicant.HomePhone" maxlength="20">
</div>

<!--Cell Phone-->
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
    <label>{{languages.APPLICANT_FORM.CELL_PHONE_APPLICANT_FIELD}}</label>
    <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' name="CellPhone" data-mask ng-model="applicant.CellPhone" maxlength="20">
</div>

<div style="clear: both;"></div>



