<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        @*@FileVersionInfo.GetVersionInfo(Assembly.GetAssembly(typeof(HomeController)).Location).ProductVersion*@
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="https://www.leonardusa.com" target="_blank">LeonardUSA</a>.</strong> All rights reserved.
</footer>