@model LeonardCRM.DataLayer.ModelEntities.Eli_User
@if (Request.IsAuthenticated && Model != null)
{
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img src="/Content/images/default_user.png" class="user-image" alt="User Image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">@Model.Name</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        <img src="/Content/images/default_user.png" class="img-circle" alt="User Image">
                        <p>
                            @Model.Name
                            <small>Member since @(Model.CreatedDate.HasValue? Model.CreatedDate.Value.ToString("MMM dd, yyyy"):"N/A")</small>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="/account-setting" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="/login" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}
else
{
    <div class="navbar-custom-menu" style="display: block !important">
        <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="user user-menu">
                <a href="https://www.leonardusa.com" target="_blank">
                    <span><b>Leonard Buildings and Truck Accessories</b></span>
                </a>
            </li>
        </ul>
    </div>
}
