<?xml version="1.0"?>
  <ElinextSettings>
    <add key="SITE_MASTER_PAGE" value="Site.Master"/>
    <add key="AUTHEN_COOKIE_KEY" value="AUTHEN_COOKIE_ELINEXT"/>
    <add key="AUTHEN_COOKIE_EXPIRE_TIME" value="1"/>
    <add key="SESSION_ID" value="SessionID"/>
    <add key="UPLOAD_DIRECTORY" value="UploadFiles/"/>
    <add key="ATTACHMENT_DIRECTORY" value="UploadFiles/Attachments/"/>
    <add key="SITE_ROOT" value="/"/>
    <add key="ENABLE_CACHE" value="false"/>
    <add key="NEED_LANDING_PAGE" value="true"/>
    <add key="UPLOAD_DIRECTORY_CUSTOMER" value="UploadFiles/customers"/>
    <add key="UPLOAD_DIRECTORY_SALE_DOCUMENT" value="documents"/>
    <add key="UPLOAD_DIRECTORY_SIGNATURE" value="Signature"/>
    <add key="UPLOAD_DIRECTORY_TEMP" value="temp"/>
    <add key="DELIVERY_WEBFORM_URL" value="/public/delivery?id="/>
    <add key="CUSTOMER_ACCEPTANCE_WEBFORM_URL" value="/public/customer-accpetance?id="/>
    <add key="MAIL_DISPLAY_NAME" value="LeonardUSA"/>
    <add key="RESET_PASSWORD_LINK" value="ResetPassword?p="/>
    <add key="CAPITAL_PERIOD_253" value="0.6"/>
    <add key="CAPITAL_PERIOD_254" value="0.6"/>
    <add key="CAPITAL_PERIOD_255" value="0.55"/>
    <add key="CAPITAL_PERIOD_387" value="0.45"/>
  </ElinextSettings>
