<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
    <!--A lot of examples show a bufferSize of 100, which means nothing is written to the Log table until 100 messages are logged-->
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="" />
    <commandText value="INSERT INTO Eli_Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[Url],[User]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @url, @user)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@url" />
      <dbType value="String" />
      <size value="250" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Url}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{User}" />
      </layout>
    </parameter>
  </appender>

  <root>
    <level value="ERROR"/>
    <appender-ref ref="AdoNetAppender_SqlServer"/>
  </root>

  <logger name="LeonardCRM" additivity="false">
    <appender-ref ref="AdoNetAppender_SqlServer" />
  </logger>
</log4net>