<div ng-controller="InvoiceTemplateDetail">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{languages.INVTEMPLATE.BASIC_INFORMATION}}
            </div>
            <div class="panel-body">
                <form name="invtemplateform" id="invtemplateform" class="col-md-12 form-horizontal" role="form" ng-init="myInit()">
                    <div class="form-group">
                        <label for="txtTemplateName" class="col-md-2 control-label">{{languages.INVTEMPLATE.INVTEMPLATE_NAME}}</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="txtTemplateName" ng-model="invTemplate.TemplateName" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <label style="text-align: left; width: 87px;" class="col-md-2 control-label ">{{languages.INVTEMPLATE.INVOICE_INFO}}</label>
                        <div class="col-md-3">
                            <select id="options" style="width: 213px;" class="form-control" >
                                <option ng-repeat="col in columns" value="{{col.ColumnName}}">{{col.LabelDisplay}}</option>
                            </select>
                        </div>
                        <button class="btn btn-danger btn-sm" onclick="insertYourContent()">{{languages.INVTEMPLATE.INSERT_LABLE}}</button>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">{{languages.INVTEMPLATE.INVTEMPLATE_CONTENT}}</label>
                        <div class="col-md-9">
                            <textarea ng-model="invTemplate.TemplateContent" style="height: 300px;" class="form-control" id="tinymce" ui-tinymce></textarea>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function insertYourContent() {
        tinyMCE.activeEditor.execCommand('mceInsertContent', false, '@' + $('#options').val() + '@');
    }
</script>
