<div ng-controller="CreateLanguageCtrl">
    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-3 control-label">{{ languages.EDIT_LANGUAGE.LANGUAGE_NAME }}</label>
                <div class="col-md-9 input-group-sm">
                    <input type="text" class="form-control" ng-model="languageObj.LanguageName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ languages.EDIT_LANGUAGE.LANGUAGE_CODE }}</label>
                <div class="col-md-9 input-group-sm">
                    <input type="text" class="form-control" ng-model="languageObj.LanguageCode" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ languages.EDIT_LANGUAGE.CULTURE_CODE }}</label>
                <div class="col-md-9 input-group-sm">
                    <input type="text" class="form-control" ng-model="languageObj.CultureCode" />
                </div>
            </div>
        </form>
    </div>
</div>
