<div ng-controller="LanguageCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{languages.EDIT_LANGUAGE.HEADING}}</b>
        </div>
        <div class="panel-body">
            <form role="form" class="col-md-12 form-horizontal">

                <div class="form-group">
                    <label class="col-md-2 control-label">{{ languages.EDIT_LANGUAGE.LANGUAGE_LABEL }}</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="langSelected"
                            ng-options="item.FileName as item.Theme for item in langfiles | orderBy:orderByValue"
                            ng-change="lang_changed()">
                        </select>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-xs form-control" ng-click="OpenCreateLanguage()">
                            {{ languages.EDIT_LANGUAGE.CREATE_LANGUAGE }}
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">{{ languages.EDIT_LANGUAGE.SELECT_LABEL }}</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="pageSelected" ng-change="page_changed()"
                                ng-options="item for item in pages | orderBy:orderByValue">
                        </select>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-xs form-control" ng-click="OpenAddResource()">
                            {{ languages.EDIT_LANGUAGE.ADD_RESOURCE }}
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-xs form-control" ng-click="OpenAddTranslation()">
                            {{ languages.EDIT_LANGUAGE.ADD_TRANSLATION }}
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <table class="table">
                            <thead>
                                <tr class="headetable">
                                    <td>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span>{{languages.EDIT_LANGUAGE.NAME_COLUMN}}
                                                </span>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input ng-model="filterTransition.Default" style="height: 30px; margin: 3px" class="form-control" type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span>{{languages.EDIT_LANGUAGE.VALUE_COLUMN}}
                                                </span>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input ng-model="filterTransition.Translation" style="height: 30px; margin: 3px" class="form-control" type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in arrayTranslation | filter:filterTransition track by $index">
                                    <td style="width: 50%">
                                        <div class=" row">
                                            <div class="col-md-12">
                                                <span>{{item.Default}}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 50%">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input ng-model="item.Translation" ng-change="translationChanged(item)" class="form-control" type="text" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <div id="language-dialog" class="modal-dialog">
            <div id="languageContent" ng-cloak class="ng-cloak">
            </div>
        </div>
    </div>

    <div>
        <div id="resource-dialog" class="modal-dialog">
            <div id="resourceContent" ng-cloak class="ng-cloak">
            </div>
        </div>
    </div>

    <div>
        <div id="translation-dialog" class="modal-dialog">
            <div id="translationContent" ng-cloak class="ng-cloak">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#language-dialog').hide();
    $('#resource-dialog').hide();
    $('#translation-dialog').hide();
</script>
